body{margin:0; background-color: rgb(3,0,31); height: 800vh;}

@font-face {
    font-family: 'cybergameregular';
    src: url('./fonts/cybergame-regular_italic-webfont.woff2') format('woff2'),
         url('./fonts/cybergame-regular_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@media screen and (max-width: 700px) {
    .greeting{
        font-size: 430% ;
        padding-left: 0;
        font-weight: 500;
        top:26%
    }
    .downloader{
        font-size: 70%;
    }
}
@media screen and (max-width: 309px) {
    .greeting{
        font-size: 330% ;
        padding-left: 0;
        top:27%;
        font-weight: 300;
        
    }
    .downloader{
        font-size: 50%;
    }
  }
@media screen and (max-width: 280px) {
    .greeting{
        font-size: 330% ;
        padding-left: 0;
        top:17%;
        font-weight: 300;
        
    }
    .downloader{
        font-size: 50%;
    }
  }
.pclog{
    position: relative;
    left: 3%;
    display: block;
    height: 80%;
    object-fit:contain;
}
.nav{
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    top: 0px;
    height: 40px;
    z-index: 3;
}
.bg{
    position:absolute;
    width:100%;
    height: 100%;
    object-fit:cover;
    margin-top: 0px;
    top:0px;
    z-index: -4;
}
.links{
    position: relative;
    left: 3%;
}
.name-special{
    color: rgb(235, 12, 112);
}
.greeting{
    position: absolute;
    color: white;
    font-family:'cybergameregular';
    z-index: 1;
}
h1{
    top: 15%;
    padding: 5%;
    font-size: 700%;
}
.cvr{
    position: absolute;
    top:0;
    display: flex;
    z-index: 0;
    height:100vh;
    width: 100%;
    overflow:hidden;
    padding-bottom: 51px;
    margin-bottom: 0;
    flex-direction: row;
}
.nav-cont{
    display:flex;
    border-right: solid rgb(255, 255, 255) 4px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: aliceblue;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.skills{
    margin-top: 100vh;
    display: flex;
    height:100vh;
    width: 100%;
    overflow:hidden;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.portfolio{
    display: flex;
    height:100vh;
    width: 100%;
    overflow:hidden;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid white;
}
#service-subtitle{
    margin-top: 0%;
    padding-top: 0;
    font-size: 6vw;
    font-weight: 300;
    color:rgba(27, 54, 255, 0.447);
    margin-bottom: 5vh;
    padding-bottom: 0;
}
.skill-container{
    margin-top: 0;
    height: 23vw;
    width: 85vw;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.skill-box{
    width: 23vw;
    height:100%;
    border-radius: 3vw 0vw 0vw 0vw;
    background-color: rgba(157, 3, 52, 0.314);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.unskill-box:hover{
    background-color: rgb(157, 3, 52);
    
    animation: fullcol 1s;
    -webkit-animation: fullcol 1s;
    -moz-animation: fullcol 1s;
    -o-animation: fullcol 1s;
    -ms-animation:fullcol 1s;
}
.clicked-skill-box{
    width: 23vw;
    height:100%;
    border-radius: 3vw 0vw 0vw 0vw;
    background-color: rgb(157, 3, 52);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.downloader{
    display: flex;
    position: relative;
    cursor: pointer;
    right:2% ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 0;
    background-color:rgb(78, 109, 188);
    height: 100%;
    width: 20%;
    border-radius: 30px;
    box-shadow: 0px 0px 8px 5px rgba(5, 27, 195, 0.447);
}
.skill-icon{
    margin-top:17%;
    width:5vw;
    opacity: 80%;
    margin-bottom: -5%;
}
.skill-title{
    margin-top: 10%;
    margin-bottom: 0%;
    font-size: 2.7vw;
    font-weight: 150;
    color:rgb(78, 109, 188);
}
.skill-description{
    font-size:2vw;
    color: rgb(3,0,31);
    font-weight: 100;
}
a{
    color: aliceblue;
    text-decoration:solid;
    font-family:Verdana;
    font-size:100%;
    font-weight: 500;
}
.links{
    display: flex;
    width: 50%;
}
.skills-title{
    margin-top: 10%;
    margin-bottom: 0%;
    font-size: 230%;
    font-weight: 200;
    color: rgb(250, 0, 79);
}
.scrolled-nav{
    position:sticky;
    background-color: rgb(192,2,89);
    /* border-radius: 0px 0px 10px 10px;` */
    box-shadow: 0px 0px 8px 5px #00000072;
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation:fadeIn 1s;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fullcol {
    0% {background-color: rgb(157, 3, 52, 0.314);}
    100% {background-color: rgb(157, 3, 52);}
}
html{
    scroll-behavior: smooth;
    font-family: 'cybergameregular';
    font-size:70%;
}