body{margin:0; background-color: rgb(3,0,31);}

@font-face {
    font-family: 'cybergameregular';
    src: url('./fonts/cybergame-regular_italic-webfont.woff2') format('woff2'),
         url('./fonts/cybergame-regular_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@media screen and (max-width: 700px) {
    .greeting{
        font-size: 490% ;
        padding-left: 0;
    }
    .downloader{
        font-size: 70%;
    }
  }
@media screen and (max-width: 250px) {
    .greeting{
        font-size: 300% ;
        padding-left: 0;
        top:25%
        
    }
    .downloader{
        font-size: 50%;
    }
  }
.pclog{
    position: relative;
    left: 3%;
    display: block;
    height: 80%;
    object-fit:contain;
}
.nav{
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    top: 0px;
    height: 40px;
    z-index: 3;
}
.bg{
    position:absolute;
    width:100%;
    height: 100%;
    object-fit:cover;
    margin-top: 0px;
    top:0px;
    z-index: -4;
}
.links{
    position: relative;
    left: 3%;
}
.name-special{
    color: rgb(235, 12, 112);
}
.greeting{
    position: inherit;
    color: white;
    font-family:'cybergameregular';
    z-index: 10;
}
h1{
    top: 10%;
    padding: 5%;
    font-size: 700%;
}
.cvr{
    top:0;
    position: absolute;
    z-index: 0;
    height:80%;
    width: 100%;
    overflow:hidden;
    justify-items: center;
}
.nav-cont{
    display:flex;
    border-right: solid rgb(255, 255, 255) 4px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: aliceblue;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.downloader{
    display: flex;
    position: relative;
    right:2% ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:rgb(78, 109, 188);
    height: 100%;
    width: 20%;
    border-radius: 30px;
    box-shadow: 0px 0px 8px 5px rgba(5, 27, 195, 0.447);
}
a{
    color: aliceblue;
    text-decoration:solid;
    font-family:Verdana;
    font-size:100%;
    font-weight: 500;
}
.links{
    display: flex;
    width: 50%;
}
.scrolled-nav{
    position:sticky;
    background-color: rgb(192,2,89);
    /* border-radius: 0px 0px 10px 10px;` */
    box-shadow: 0px 0px 8px 5px #00000072;
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation:fadeIn 1s;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
html{
    scroll-behavior: smooth;
    font-family: 'cybergameregular';
    font-size:70%;
}